@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,400;0,500;1,400;1,500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #20D374;
  --para-color: #666666;
}


.left{
  background-color: #20D374;
  width: 40%;
}

.right{
  background-color: white;
  width: 100%;
  border-left: 200px solid #20D374;
  border-bottom: 1200px solid transparent;
}

@media screen and (max-width: 768px) {
  .right {
    background-color: white;
    width: 100%;
    border-left: 0px solid #20D374;
    border-bottom: 1200px solid transparent; /* Hides the .right class content on mobile screens */
  }
}


.abt{
  background-color: white;
  width: 150%;
  border-left: 200px solid #20D374;
  border-bottom: 1200px solid transparent;

}

.hero{
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.pricing-right{
  background-color: white;
  width: 20%;
  border-left: 200px solid #20D374;
  border-top: 600px solid transparent;
}

@media screen and (max-width: 768px){
  .pricing-right{
    background-color: white;
    width: 0%;
    border-left: 0px solid #20D374;
    border-top: 0px solid transparent;
  }
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


/* CSS */
@media screen and (max-width: 767px) {
  .mobile-width{
    width: 100px; /* Change the width for mobile screens */
    /* Add any other styles you want for mobile screens */
  }
}



